 @media only screen  {

 }
 
 body {
    display: flex;
    font-style: Montserrat;
    flex-direction: column;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper{
    height: 900px;
    background-color: rgb(243, 234, 234);
}
.section1{
    background-image: url(images/hero-cover.3.png);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.burner{
    display: flex;
    margin-left: 2%;


}
.nav ul{
list-style-type: none;
font-size: 20px;
}
.nav li{
    display: inline-block;
    padding: 20px 10px;
    


}
.nav ul li a{
    text-decoration: none;
    color: #fff;

}
.login{
    display: flex;
    padding: 10px ;
    margin-left: 35%;
    align-items: center;
    color: #fff;
}
.login >p{
    font-size: 20px;
    padding: 10px ;
    
}
button{
    color: #fff;
    background-color: #23A6F0;
    width: 150px;
    height: 50px;
    ;
}
.brand{
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500px;
}
.cen{
    text-align: center;
    padding-top: 20px;
    
}
.cen >h1{
    color: #fff;
    font-size: 40px;
    line-height: 60px;
} 
.cen >p{
    color: #fff;
    font-size: 20px;
}
.cen button{
    padding: 15px;
}
.butt{
    padding: 50px;
}
.ctn{
    background-color: transparent;
}
*{
    box-sizing: border-box;
}
.column1{
    float: left;
    width: 30%;
    padding: 20px;
    height: 200px;
    background-color: #fff;
    margin-right: 3%;
    box-sizing: border-box;
}
.column2{
    float: left;
    width: 30%;
    padding: 20px;
    height: 200px;
    background-color: #fff;
    margin-right: 3%;
}
.column3{
    float: left;
    width: 30%;
    padding: 20px;
    height: 200px;
    background-color: #23A6F0;
    color: #fff;

}

.row{
    display: flex;
    text-align: center;
    margin-left: 10%;
    padding: 50px;
}
.sec{
    height: 400px;
    text-align: center;
    display: flex;
    padding: 50px;
    background-color:#fff
}
.ic{
    color: blue;
}
.peace{
    float: left;
    width: 30%;
    padding: 20px;
    height: 200px;
    margin-right: 3%;
    box-sizing: border-box; 
    margin-top: 60px; 
}
.peace2{
    float: left;
    width: 30%;
    padding: 20px;
    height: 200px;
    margin-right: 3%;
    margin-top: 60px;
}
.peace3{
    float: left;
    width: 30%;
    padding: 20px;
    height: 200px;
    margin-right: 3%;
    margin-top: 60px;
}
.sec1{
    background-color: beige;
    height: 1000px;
}
.ind{
    text-align: center;
    padding: 5%;
}
.members{
    display: flex;
    justify-content: center;
    padding-top: 5%;

}
.mem{
    width: 300px;
    padding: 50px;
    height: 400px;
    border: 3px solid rgb(224, 219, 219);
    background-color: #fff;
    padding-top:3% ;
    padding-left: 3%;
    padding-bottom:3% ;
    padding-right: 3%;
    border-radius: 9px;
} 

.mem1{
    width: 300px;
    padding: 20px;
    height: 400px;
    border: 3px solid rgb(224, 219, 219);
    background-color: #fff;
    padding-top:3% ;
    padding-left: 3%;
    padding-bottom:3% ;
    padding-right: 3%;
    border-radius: 9px;
}
.mem2{
    width: 300px;
    padding: 20px;
    height: 400px;
    border: 3px solid rgb(224, 219, 219);
    background-color: #fff;
    padding-top:3% ;
    padding-left: 3%;
    padding-bottom:3% ;
    padding-right: 3%;
    border-radius: 9px;
}
.img{
    height: 150px;
}
.line{
    justify-content: center;
    margin-top: -200px;
    position: absolute;
    margin-left: 35%;

} 
.lin{
    color: white;
}
.pics{
    display: flex;
    justify-content: center;
}
.photo img{
    padding: 20px;
}
.box{
    width: 800px;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 60%);
    display: flex;
    margin-left: 15%;
    height: 85px;
   

    
}
.subscribe{
    padding: 20px;
    
    color: white;


}
.subscribe >p{
    font-size: 25x;
    left: 20%;
    padding-top: 5%;
    

}
.email{
    padding: 20px;
    margin-left:25%;
    padding-bottom: 20px;
  
}
input{
    height: 40px;
    width: 250px;
    
    
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.sub{
    background-color:#23A6F0 ;
    color: white;
    height: 43px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 100px;
    right: 1%;
    
}
::placeholder{
    padding-left: 5%;
    
}
.pricing{
    height: 750px;

}
.bx1{
    width: 280px;
    padding: 5px;
    height: 500px;
    border: 3px solid rgb(224, 219, 219);
    background-color: #fff;
    border-radius: 9px;
    margin-top: 70px;
    font-size: 16px;

    
} 
.bx2{
    width: 280px;
    padding: 5px;
    height: 550px;
    border: 3px solid rgb(224, 219, 219);
    background-color:#252B42;
    border-radius: 9px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    
} 
.bx3{
    width: 280px;
    padding: 5px;
    height: 500px;
    border: 3px solid rgb(224, 219, 219);
    background-color: #fff;
    border-radius: 9px;
    margin-top: 70px;
    font-size: 16px;
    
} 
.boxes{
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-left: 15%;
}
.head{
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
}
.branch{
    height: 900px;
    background-color: #ede9e8;
    
}
.first{
    margin-top: 50px;
    height: 500px;
    background-color: #252B42;
    margin-left: 2%;
}
.phot{
    height: 200px;
    margin-left: 45%;
    right: 0%;
    top: 25;
}
.lin{
    padding-top: 100px;
    margin-left: 10%;
}
.appoint{
    display: flex;
    margin-left:35%;
    padding-bottom: 100px;
    position: absolute;
    margin-top: -150px;
}
.picpoint{
    height: 300px;
}
.book{
    background-color: white;
}
.one{
align-items: center;
width: 250px;
}
.kati{
    margin-top: 250px;
    display: flex;
}
.kati button{
    margin-left: 30%;
    margin-top: 20px;
}
.kati >p{
    margin-left: 15%;
    margin-top: 20px;
}
.footer{
    height: 250px;
    display: flex;
    padding: 5%;
}
.bottom{
    height: 100px;
    display: flex;
    background-color: #ede9e8;
}
.fb .ico{
    color: #23A6F0;
    margin-right: 60%;
}
.ico1{
    margin-right: 60%;
}
ul li{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.fb{
    display: flex;
    margin-left: 30%;
    padding-top: 45px;
}
.end{
padding-top: 35px;
padding-left:10%;

}
